{ns demo
 import #{http dojo xtdb telegram}

 xtdb
 {:engine   xtdb/db
  :dir "data/prod"}

 xtdb-test
 {:engine   xtdb/db
  :dir "data/test"}

 api
 {:engine http/api
  :port 5173}

 tg-bot
 {:engine telegram/bot
  :dir "data/tg-docs"}

 system
 {:zen/tags #{zen/system}
  :start [api goog xtdb tg-bot]}

 test-system
 {:zen/tags #{zen/system}
  :start [goog xtdb-test tg-bot]}}
